<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Website</title>
</head>
<body>
    <header>
        <h1><a href="/">Django Website</a></h1>
    </header>

    <article>
        <time>published: 3.2.2026, 9:10 AM</time>
        <h2><a href="/">My First Post</a></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste totam vitae dolorum voluptas! Est illo et placeat aperiam fuga recusandae beatae aspernatur debitis nostrum doloribus dolorem, modi unde, voluptates vel.</p>
    </article>

    <article>
        <time>published: 3.2.2026, 9:10 AM</time>
        <h2><a href="/">My Second Post</a></h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet recusandae eaque esse hic iure et nostrum dolore, fugiat ullam nobis dignissimos alias, nihil, distinctio quae nesciunt quas? Obcaecati, laboriosam doloribus!</p>
    </article>
    
</body>
</html>